* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background: linear-gradient(to right, #00031b,#500c8f);
}

.form-section {
    width: 400px;
    margin:  auto;
    padding: 30px;
    background-color: #020016;
    border-radius: 8px;
    margin-top: 100px;
    font-family: 'calibri';
    color: white;
     box-shadow: 7px 13px 19px #000000;
}

.form-section h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}
.controls {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    background: #020016;
    margin-bottom: 16px;
    font-family: 'calibri';
    font-size: 18px;
}

.form-section p {
    font-size: 14px;
    color: #ccc;
    margin-bottom: 16px;
    text-align: center;
    line-height: 1.5;
}

.form-section a {
    color: #007BFF;
    text-decoration: none;
}

.form-section a:hover {
    text-decoration: underline;
    color: #f0f0f0;
    line-height: 1.5;
}

.form-section .boton {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #007BFF;
    color: rgb(255, 255, 255);
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 16px;
}
